
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* pegue todos o width e faça x1,3 depois */

:root{
    /* text and info */
    --text-color:#FFFFFF;
    --info-color-blue:#0072F7;
    --info-graphic-blue-light:#0ADEFB;
    /* sidebar */
    --sidebar-color-dark: #060B28;
    --div-icons-color: #1B2143;
    /* cards */
    --card-color-dark:#070d2d;
    --card-color-gradient:rgb(8, 14, 47, 0.3);
    --trofeu-background: #0076FF;
    --trofeu-ouro: #FFCA4D;
    --trofeu-prata: #E1DADE;
    --trofeu-bronze: #e89168;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h2{
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
}

h3{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}

h4{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

h6{
    font-size: 8px;
    font-weight: 300;
    color: var(--text-color);
}

body{
    min-height: 100vh;
    background: linear-gradient( 
        40deg, 
        #01143D 40%, 
        #006CFA 58%, 
        #001737 80%  );
}


.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar{
    min-height: 100%;
    width: 58px;
    background: linear-gradient(
        91deg ,
        var(--sidebar-color-dark) 70%, 
        rgb(0, 0, 0, 0) 90%);
    margin-left: 10px;
    border-end-end-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sidebar .menu{
width: 39px;
min-height: 180px;
margin-top: 10px;
border-top: 1px solid white ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
}

.sidebar .menu > div{
    height: 20px;
    width: 26px;
    background: var(--div-icons-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .menu .material-icons {
    font-size: 16px;
    color: var(--info-color-blue);
}

.dash {
    flex: 1; /* =ocupar toda o espaço livre | Junção do flex-grow, flex-shrink e fle-basis  */
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

.tittle {
    height: 40px;
    width: 100%;
    padding:10px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
}

.box1 {
    height: 708px;
    min-width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid white; */
}

.box1 .cards-info {
    height: 490px;
    width: 286px;
    background: linear-gradient(90deg,
    var(--card-color-dark) 30%,
    rgba(4, 12, 41.5, 0.7 ) 50%);
    border-radius: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.box1 .cards-info .card1 {
    width: 234px;
    height: 70px;
    border-radius: 12px;
    box-shadow: none    ;
background:
    linear-gradient(
        120deg,
        transparent 58%,
        rgba(255,255,255,0.03) 59%,
        rgba(255,255,255,0.03) 60%,
        transparent 73%
    ),

    linear-gradient(
        120deg,
        rgba(255,255,255,0.03),
        transparent 5%
    ),

    linear-gradient(
        160deg,
        #1C2643,
        #0A112D
    );
    display: flex;
}

.box1 .cards-info .card1 .piece1 {
    width: 143px;
    height: 70px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid green; */
}

.box1 .cards-info .card1 .piece2{
    width: 96px;
    height: 68px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(255, 0, 25); */
}

/* Por fins estéticos, pedi para o chat fazer essa parte */
.line-chart svg {
    width: 58px;
    height: 30px;
    transform: scale(-1, -1)
}

.line-chart path {
    fill: none;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
}
/*  */

.box1 .cards-info .card1 .piece2 .icon {
    width: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 1px solid salmon; */
}

.box1 .cards-info .card1 .piece2 .icon span {
    font-size: 16px;
}

.box1 .niveis {
    height: 200px;
    width: 286px;
    background: linear-gradient(
        150deg,
        var(--card-color-dark) 20%,
        var(--card-color-gradient) 70%
    );
    border-radius: 12px;
    position: relative;
}


.box1 .niveis .niveis-graphics {
    position: relative;
    height: 135px;
    width: 100%;
}

.box1 .niveis .niveis-graphics::after {
    content: '';
    width: 102px;
    height: 102px;
    background: #081533;
    border-radius: 50%;

    position: absolute;
    left: 92px;
    top: 12px;
    z-index: 1;
    /* border: 1px solid white; */
}

.box1 .niveis .niveis-graphics canvas {
    width: 118px !important;
    height: 118px !important;
    position: absolute;
    left: 84px;
    top: 5px;
}

.nivel-label {
    position: absolute;
    color: rgba(255,255,255,0.85);
    font-size: 7px;
    font-weight: 400;
    z-index: 2;
    white-space: nowrap;
}

.nivel1 {
    right: 19px;
    top: 50px;
}

.nivel2 {
    left: 17px;
    bottom: 23px;
}

.nivel3 {
    left: 45px;
    top: 28px;
}

.area-maior {
    height: 708px;
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
    /* border: 2px solid rgb(30, 152, 73); */
}

.box2{
    min-height: 255px;
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(217, 182, 41); */
}


.box2 .visao-geral {
    height: 255px;
    width: 555px;
    background: linear-gradient(
        160deg,
        var(--sidebar-color-dark) 30%, 
        rgb(8, 14, 47, 0.3) 70% 
        );
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    }

.box2 .visao-geral .graphics {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.box2 .visao-geral .graphics .concluidos {
    height: 210px;
    width: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box2 .visao-geral .graphics .concluidos .atual {
    height: 115px;
    width: 115px;
    position: relative;
    border-radius: 50%;
    background: #060B28;
}

.box2 .visao-geral .graphics .concluidos .atual canvas {
    width: 100% !important;
    height: 100% !important;
}


.box2 .visao-geral .graphics .concluidos .atual .center-info {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.box2 .visao-geral .graphics .concluidos .atual .center-info span {
    color: #00A67E;
    font-size: 19px;
}

.box2 .visao-geral .graphics .concluidos .atual .center-info.prazo span{
    color: #0072F7;
}

.box2 .visao-geral .graphics .concluidos .atual .center-info h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.box2 .visao-geral .graphics .concluidos .atual .center-info p {
    margin: 0;
    font-size: 9px;
    opacity: 0.7;
}


.box2 .visao-geral .graphics .concluidos .anterior {
    height: 60px;
    width: 145px;
    border-radius: 12px;
    background: linear-gradient(
        160deg,
        #07102c,
        rgb(16, 25, 54, 0.5)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.box2 .visao-geral .graphics .concluidos .anterior canvas {
    width: 65px !important;
    height: 40px !important;
}

.box2 .visao-geral .graphics .concluidos .anterior .mini-text p {
    font-size: 8px;
    color: rgba(255,255,255,0.45);
}

.box2 .visao-geral .graphics .concluidos .anterior .mini-text h4 {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.box2 .top3 {
    height: 255px;
    width: 530px;
        background: linear-gradient(
        130deg,
        var(--sidebar-color-dark) 10%, 
        rgb(8, 14, 47, 0.3) 70% 
        );
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box2 .top3 .align-info {
    height: 215px;
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box2 .top3 .info{
    width: 100%;
    display: flex;
}

.box2 .top3 .info .avatar {
    width: 80px;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.box2 .top3 .info .avatar img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.box2 .top3 .info .dados{
    height: 55px;
    width: 430px;
        background: linear-gradient(
        170deg,
        var(--sidebar-color-dark) 50%, 
        rgb(157, 166, 220, 0.1 ) 90% 
        );
        border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid fuchsia; */
}

.box2 .top3 .info .dados .nome {
    width: 100%;
    height: 10px;
    padding: 0 0 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid green; */
}

.box2 .top3 .info .dados .align-dados{
    height: 100 ;
    width: 380px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid yellow; */
}


.box2 .top3 .info .dados .align-dados .chamadas {
    height: 20px;
    width: 245px;
    padding: 0 10px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid white ;
    /* border: 1px solid red; */
}

.box2 .top3 .info .dados .align-dados .percentil {
    height:10px;
    width: 135px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    /* border: 1px solid rgb(255, 25, 0); */
}

.box2 .top3 .info .dados .trofeu {
    height: 40px;
    width: 40px;
    background: var(--trofeu-background);
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.box2 .top3 .info .dados .trofeu .ouro {
    font-size: 25px;
    color: var(--trofeu-ouro);
}

.box2 .top3 .info .dados .trofeu .prata {
    font-size: 25px;
    color: var(--trofeu-prata);
}

.box2 .top3 .info .dados .trofeu .bronze {
    font-size: 25px;
    color: var(--trofeu-bronze);
}

.canto-inferior{
    height: 430px;
    width: 1120px;
    display: flex;
    gap: 30px;
    /* flex-wrap: wrap; */
    /* border: 2px solid brown; */
}

.box3 {
    height: 431px;
    width: 740px;
    display: flex   ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(227, 95, 202); */
}

.box3 .historico {
    height: 211px;
    width: 740px;
    background: linear-gradient( 170deg ,
    var(--card-color-dark),
    var(--card-color-gradient));
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box3 .historico .graphics {
    height: 180px;
    width: 740px;
    padding: 10px 20px;
}

.box3 .historico .graphics canvas {
    width: 100% !important;
    height: 100% !important;
}

.box3 .chamadas-hora {
    height: 200px;
    width: 740px;
    background: linear-gradient( 170deg ,
    var(--card-color-dark),
    var(--card-color-gradient));
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box3 .chamadas-hora .graphics {
    height: 140px;
    width: 800px;
    padding: 0 12px 10px 12px;
    /* border: 1px solid yellow; */
}

.box3 .chamadas-hora .graphics canvas {
    width: 100% !important;
    height: 100% !important;
}

.box3 .chamadas-hora {
    position: relative;
}

.box3 .chamadas-hora .horario-atividade {
    width: 70px;
    height: 40px;
    position: absolute;
    right: 30px;
    top: 15px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid green; */
}

.box3 .chamadas-hora .horario-atividade p{
    color: white;
    font-size: 8px;
    opacity: 0.8;
}

.box3 .chamadas-hora .horario-atividade strong {
    display: block;
    font-size: 15px;
    opacity: 1;
}

.box4{
    height: 430px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid whitesmoke; */
}

.box4 .volume-chamadas {
    height: 430px;
    width: 350px;
    background: linear-gradient( 130deg ,
    var(--card-color-dark)35%,
    var(--card-color-gradient)100%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid snow; */
}


.box4 .volume-chamadas .graphics {
    height: 380px;
    width: 100%;
    padding: 0 18px 18px;
}

#volume-chamadas-chart {
    width: 100%;
    height: 100%;
}